body {
    margin: 0;
    font-family: Candara, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #eeeef1;
  }

  .navbar {
    background-color: black;
    color: white;
    display: flex;
      justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
            border: 0px solid red;
  }

  .navbar-logo img {
    width: 70px;
    margin-right: 20px;
            border: 0px solid red;
      float: left;
  }

  .topnav {
    color: #fff; 
  text-decoration: none;
      display: flex;
      overflow: inherit;
      text-align: left;
      padding: 25px;
      float: left;
      border: 0px solid red;
      margin-left: 5px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
      margin-left: 25px;
    transition: background-color 0.3s ease;
  }

.topnav :left{
    float: left;
}

  .topnav a:hover {
    background-color: #555;
      text-decoration: underline;
  }
h1{
    font-family: Lucida Calligraphy;
    font-size: 4.5em;
    margin-top: 35px;
    margin-left: 360px;
    letter-spacing: 5px;
    font-weight: lighter;
}
.container {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-top: -50px;
}

 .message-list {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.comment-box {
    width: 100%;
    max-width: 600px;
}

.message-list h2 {
    font-family: Lucida Calligraphy;
    font-size: 24px;
    margin-bottom: 10px;
}



textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: grey;
    color: white;
    width: 595px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: gainsboro;
}

.comments-container {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
h2{
    font-size: 15px;
    color: #007bff;
    margin-top: -10px;
}
.like-button {
    background-color: grey;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 790px;
    margin-top: -60px;
}

.like-button:hover {
    background-color: gainsboro;
}

.like-count {
    margin-right: 10px;
    float: right;
}
