body {
    margin: 0;
    font-family: Candara, sans-serif;
    background-color: #eeeef1;
  }

  .navbar {
    background-color: black;
    color: white;
    display: flex;
      justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
            border: 0px solid red;
  }

  .navbar-logo img {
    width: 70px;
    margin-right: 20px;
            border: 0px solid red;
      float: left;
  }

  .topnav {
    color: #fff; 
  text-decoration: none;
      display: flex;
      overflow: inherit;
      text-align: left;
      padding: 25px;
      float: left;
      border: 0px solid red;
      margin-left: 5px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
      margin-left: 25px;
    transition: background-color 0.3s ease;
  }

.topnav :left{
    float: left;
}

  .topnav a:hover {
    background-color: #555;
      text-decoration: underline;
  }
h1{
    font-family: Lucida Calligraphy;
    font-size: 3em;
    margin-top: 35px;
    margin-left: 230px;
    letter-spacing: 5px;
    font-weight: lighter;
}
.dropup {
    position: relative;
    display: inline-block;
}

.dropbtn img{
    position:absolute;
    width: 200px;
    float: left; 
    left: 10px; 
    margin-right: 100px;
    margin-top: -150px;
    padding: 50px;
    border: 0px solid red;
    
}
.dropbtn {
    position: absolute;
    padding: 10px;
    width: 10px;
    margin-left: 100px;
    font-size: 10px;
    cursor: pointer;
    border: 0px red solid;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 30px; 
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ddd;
}

.dropup:hover .dropup-content {
    display: block;
}
table{
    position: absolute;
    width: 1200px;;
    border: 0px solid red;
    float: center;
    margin-top: -90px;
    margin-left: 50px;
    padding: -50px 40px;
    margin: auto;
}
th{
    padding: 10px;
    float: center;
    margin-top: -90px;
}

img{
    width: 250px;
    float: center;
    max-width: 100%;
}
.text{
    font-family: Candara, sans-serif;
    font-size: 12px;
}
h2{
    font-family: Candara, sans-serif;
    font-size: 20px;
}
td{
    position: absolute;
    margin-top: -130px;
    width: 300px;
    margin-left: -20px;
    border: 0px red solid;
}
.arrow img{
    position: absolute;
    margin-top: 180px;
    margin-left: 1250px;
    width: 35px;
}