body {
    margin: 0;
    font-family: Candara, sans-serif;
    background-color: #eeeef1;
  }

  .navbar {
    background-color: black;
    color: white;
    display: flex;
      justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
            border: 0px solid red;
  }

  .navbar-logo img {
    width: 70px;
    margin-right: 20px;
            border: 0px solid red;
      float: left;
  }

  .topnav {
    color: #fff; 
  text-decoration: none;
      display: flex;
      overflow: inherit;
      text-align: left;
      padding: 25px;
      float: left;
      border: 0px solid red;
      margin-left: 5px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
      margin-left: 25px;
    transition: background-color 0.3s ease;
  }

.topnav :left{
    float: left;
}

  .topnav a:hover {
    background-color: #555;
      text-decoration: underline;
  }
.line img{
    position: absolute;
    margin-top: 15px;
    margin-left: 150px;
}
.experience img{
    height: 450px;
    position: absolute;
    margin-top: 80px;
    margin-left: 150px;
}
h1{
      font-family: Lucida Calligraphy;
    width: 600px;
    font-size: 5em;
    margin-top: 35px;
    margin-left: 450px;
    letter-spacing: 5px;
    font-weight: lighter;
    transform: translate(28%,70%);
}
p{
    font-size: 1.2em;
    width: 800px;
    height: 300px;
    line-height: 30px;
    margin-left: 50px;
    text-align: justify;
    float: right;
    letter-spacing: 3px;
    transform: translate(-15%,10%);
    border: 0px solid red;
}
.deco img{
    width: 350px;
    position: absolute;
    margin-top: 335px;
    margin-left: 135px;
}
.back img{
    position: absolute;
    margin-top: -170px;
    margin-left: 40px;
    width: 35px;
}