body {
    margin: 0;
    font-family: Candara, sans-serif;
    background-color: #eeeef1;
    
  }

  .navbar {
    background-color: black;
    color: white;
    display: flex;
      justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
            border: 0px solid red;
  }

  .navbar-logo img {
    width: 70px;
    margin-right: 20px;
            border: 0px solid red;
      float: left;
  }

  .topnav {
    color: #fff; 
  text-decoration: none;
      display: flex;
      overflow: inherit;
      text-align: left;
      padding: 25px;
      float: left;
      border: 0px solid red;
      margin-left: 5px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
      margin-left: 25px;
    transition: background-color 0.3s ease;
  }

.topnav :left{
    float: left;
}

  .topnav a:hover {
    background-color: #555;
      text-decoration: underline;
  }
.square {
  height: 300px;
  width: 500px;
    padding: 20px;
    border-radius: 8px;
  background-color: white;
    margin-left: 450px;
    margin-top: 150px;
    border: 1px solid #ccc;
}
table{
    padding: 40px 0px;
    border-spacing: 10px;
}
img{
    width: 40px;
    margin-left: 50px;
}
th{
    font-size: 10px;
    margin: top;
    font-family: Lucida Calligraphy;
}
.back img{
    position: absolute;
    margin-top: 280px;
    margin-left: -10px;
    width: 30px;
}