table
    {border: 3px solid black;
    border-collapse: collapse;
    margin: auto}
tr, th, td
    {border: 2px solid grey;
    padding: 14px;}
#logo
    {width: 90px;
    float: left;}
td
    {background-color: darkgrey}
th
    {background-color: dimgrey;
    color: white;}