body {
    margin: 0;
    font-family: Candara, sans-serif;
  }

  .navbar {
    background-color: black;
    color: white;
    display: flex;
      justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
            border: 0px solid red;
  }

  .navbar-logo img {
    width: 70px;
    margin-right: 20px;
            border: 0px solid red;
      float: left;
  }

  .topnav {
    color: #fff; 
  text-decoration: none;
      display: flex;
      overflow: inherit;
      text-align: left;
      padding: 25px;
      float: left;
      border: 0px solid red;
      margin-left: 5px;
  }

  .topnav a {
    color: white;
    text-decoration: none;
      margin-left: 25px;
    transition: background-color 0.3s ease;
  }

.topnav :left{
    float: left;
}

  .topnav a:hover {
    background-color: #555;
      text-decoration: underline;
  }
.login img{
    position: absolute;
    float: right;
    width: 120px;
    margin-left: 870px;
    margin-top: -48px;
}
.background-section {
  position: relative;
  width: 100%;
  height: 575px;
  background-image: url(background01.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
homepage{
    max-width: 100%;
    max-height:100%;
    object-fit: cover;
    margin-left: 100px;
}

.content h2 {
  position: absolute;
    font-size: 4.5em;
  top: 0px;
  right: 40px;
  font-family: "Lucida Calligraphy", sans-serif; 
  color: white;
    word-wrap: break-word;
    line-height: 50px;
    letter-spacing: 10px;
    font-weight: lighter;
}
.content h1 {
  position: absolute;
    font-size: 4.5em;
  top: 70px;
  right: 40px;
  font-family: "Lucida Calligraphy", sans-serif; 
  color: white;
    word-wrap: break-word;
    line-height: 70px;
    letter-spacing: 10px;
    font-weight: lighter;
}
.content h3 {
  position: absolute;
    font-size: 4.5em;
  top: 130px;
  right: 40px;
  font-family: "Lucida Calligraphy", sans-serif; 
  color: white;
    word-wrap: break-word;
    line-height: 90px;
    letter-spacing: 10px;
    font-weight: lighter;
}
.content p {
    position: absolute;
  font-size: 1.5em;
  top: 260px; 
  right: 50px; 
  color: white;
    letter-spacing: 3px;
}

.arrow-button img{
    position: absolute;
    width: 400px;
    float: right;
    top: 310px; 
  right: -20px; 
    border: 0px solid red;
}
.footer {
  background-color: #000; 
  color: #fff; 
  padding: 4px 0px;
  display: flex;
  align-items: center;
}

.button-mail img{
    position:relative;
    width: 65px;
    float: left;
    left: 5px; 
    margin-left: 50px;
    border: 0px solid red;
}
.button-phone img{
    position: relative;
    width: 55px;
    float: left;
  left: 5px; 
 margin-left: 50px;

    border: 0px solid red;
}
.text{
     margin-left: 300px;
}
.text p {
  margin: 0;
    font-size: 0.8em;
}
.dropup {
    position: relative;
    display: inline-block;
}

.dropbtn img{
    position: relative;
    width: 60px;
    float: left; 
    left: 10px; 
    margin-left: 60px;
    border: 0px solid red;
}
.dropbtn {
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 30px; 
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ddd;
}

.dropup:hover .dropup-content {
    display: block;
}
